
name: Java CI with Gradle (release)

on:
  push:
    tags:
    - 'v[0-9]+.[0-9]+.[0-9]+*'

env:
  LOGSTASH_VERSION: v8.19.10

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        path: logstash-input-grpc

    - name: Checkout Logstash
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        path: logstash
        repository: elastic/logstash
        ref: ${{ env.LOGSTASH_VERSION }}

    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: temurin

    - name: Build logstash-core
      uses: gradle/gradle-build-action@v3.5.0
      with:
        build-root-directory: logstash
        arguments: assemble
    
    - name: Build gem
      uses: gradle/gradle-build-action@v3.5.0
      with:
        build-root-directory: logstash-input-grpc
        arguments: gem -PLOGSTASH_CORE_PATH=${{ github.workspace }}/logstash/logstash-core

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        prerelease: true
        files: |
          logstash-input-grpc/logstash-input-grpc-*.gem
